* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 275px;
}

.first {
  /* min-height: 800px; */
  background-image: url(img/img1.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 75%;
  background-color: #E7F066;
}

.logo {
    margin-top: 5px;
    margin-bottom: 5px;
}

.cart {
    margin-top: 15px;
}

.basket {
    display: flex;
    padding-right: 25px;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-left: 25px;
}

.first-info {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-right: 3%;
   padding-top: 15%;
}

.first-text {
    color: #262626;
}

.link-text {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 1px;
    padding-top: 7%;
    padding-bottom: 7%;
    text-transform: uppercase;
}

.first-link-text {
    padding-top: 2%;
}

.heading {
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
}

.first-heading {
    padding-top: 17%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.second {
    min-height: 800px;
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 75%;
    background-color: #9C8554;
    color: #B2B2B2;
}

.second-heading-second {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.5px;
    padding-top: 3%;
    padding-left: 2%;
}

.second-block-text {
    display: flex;
    justify-content: space-between;
}

.second-info {
    padding-top: 40%;
    padding-left: 2%;
}

.second-heading {
    padding-top: 46%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.third {
    min-height: 800px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background: url(img/img3.1.png) top left no-repeat,
                url(img/img3.2.png) top right no-repeat;
    background-size: 50%;
    background-color: #B2B2B2;
    color: #262626;
}

.third-text {
    margin-bottom: 3%;
    margin-right: 25%;
    padding-bottom: 0;
}

.fourth {
    min-height: 800px;
    background-image: url(img/img4.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 65%;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    justify-content: end;
    color: #262626;
}

.fourth-content {
    margin-right: 9%;
    margin-top: 20%;
    margin-bottom: 20%;
}

.second-heading-fourth {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.paragraph, .fourth-heading {
    margin-bottom: 20px;
}

.fifth {
    min-height: 800px;
    background-image: url(img/img5.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 75%;
    background-color: #A26779;
    color: #B2B2B2;
}

.sixth {
    min-height: 800px;
    background-image: url(img/img6.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: #A8B1B8;
    color: #262626;
}

.sixth-content {
    padding: 4%;
}

.read-more {
    padding-top: 1%;
}

.seventh {
    min-height: 800px;
    background-image: url(img/img7.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 75%;
    background-color: #504B4D;
    color: #B2B2B2;
}

.eighth {
    min-height: 800px;
    background-image: url(img/img8.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 75%;
    background-color: #B04836;
    color: #B2B2B2;
}

.footer {
    min-height: 190px;
    display: flex;
    align-items: center;
    background-color: #262626;
    color: #CCCCCC;
    font-size: 14px;
    line-height: 19px;
}

form {
    margin-left: 5%;
}

.inputs {
    display: flex;
    margin-top: 46px;
}

.input {
    margin-right: 20px;
}

.name, .email {
    box-sizing: border-box;
    width: 280px;
    background-color: #262626;
    border:0;
    border-bottom:1px solid #CCCCCC;
    margin-bottom: 8px;
}

.submit {
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit; 
    background-color: #262626;
    border:0;
    color: #CCCCCC;
    text-transform: uppercase;
    margin-top: 18px;
}

@media (max-width: 768px) {
    .container {
        min-height: 400px;
    }

    .heading {
        font-size: 20px;
    }

    .first {
        background-position: left center;
    }

    .third-text {
        margin-right: 0;
    }

    .fourth-content {
        margin: 0 9%;
    }

    .fifth {
        background-size: 68%;
    }
}

@media (max-width: 425px) {
    .container {
        min-height: 588px;
    }

    .first, .second, .fourth, .fifth, .sixth, .seventh, .eighth {
        background-size: 100%;
        background-position: left center;
    }

    .menu {
        padding-top: 10px;
    }

    .description {
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        height: 25px;
        margin-top: 15px;
    }

    .first-heading {
        padding-top: 7%;
        padding-left: 5%;
    }

    .first-info {
        align-items: flex-start;
        padding-left: 5%;
        padding-top: 75%;
    }
    .inputs {
        flex-direction: column;
    }
}
